
Framework/Framework/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Framework/Framework/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Framework/Framework/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Framework/Framework/obj/Debug/Framework.pdb
Framework/Framework/obj/Debug/Framework.dll
Framework/Framework/obj/Debug/Framework.csprojAssemblyReference.cache
Framework/Framework/obj/Debug/Framework.csproj.FileListAbsolute.txt
Framework/Framework/obj/Debug/Framework.csproj.CoreCompileInputs.cache
Framework/Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Framework/Framework/Framework.csproj
Framework/Framework/bin/Debug/nunit_random_seed.tmp
Framework/Framework/bin/Debug/Framework.pdb
Framework/Framework/bin/Debug/Framework.dll
Framework/.vs/Framework/v15/Server/sqlite3/storage.ide-wal
Framework/.vs/Framework/v15/Server/sqlite3/storage.ide-shm
Framework/.vs/Framework/v15/Server/sqlite3/storage.ide
Framework/.vs/Framework/v15/Server/sqlite3/db.lock
Framework/.vs/Framework/v15/.suo
